@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header styles here  */

header{
    padding: 50px 200px;
    background: rgba(255, 144, 14, 0.10);
}

/* nav styles here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav h3{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav ul {
    display: flex;
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #424242;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-section{
    padding-top: 40px;
    text-align: center;
}
.banner-content{
    width: 860px;
    margin:40px auto;
}

.banner img{
    width: 100%;
}
.section-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.section-desc{
    font-size: 1rem;
    font-weight: 400px;
    color: #727272;
    padding-top: 20px;
    padding-bottom: 20px;
}


.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* team sections styles  */

.team-section{
    padding: 40px 220px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    gap: 50px;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick-list{
    font-size: 3rem;
    color: #727272;
    font-weight: 500;
}

.of-our{
    font-size: 3rem;
    color: #131313;
    font-weight: 700;
}
.text-features{
    font-size: 3rem;
    color: #FF900E;
    font-weight: 700;
}





/* media queries for mobile devices */


@media screen and (max-width:576px) {

    header,
    .team-section{
        padding: 20px;
    }
    nav,
    .team-section{
        flex-direction: column;
        gap: 40px;
    }
    
    .banner-content{
        width: auto;
    }
    .team-image-container{
        grid-template-columns: 1fr;
    }
    .team-section{
        text-align: center;
    }
   
}

/* media queries for tablet/medium devices */


@media screen and (min-width:576px) and (max-width: 960px) {
    header, 
    .team-section
    {
        padding: 50px;
    }
    .banner-content{
        width: auto;
    }
    .team-section{
        max-width: 960px;
    }
    .team-section img{
        width: 200px;
    }
   
}